@using Lib.core;
@using Lib.helper;
@using Lib.http;
@using Lib.helper;
@using Bll;
@using Model.User;
@using Model.Post;
@using Hiwjcn.Web.Models.User;
@{
    Layout = null;

    var model = ViewData["model"] as MeViewModel;
    if (model == null) { model = new MeViewModel(); }
    if (model.User == null) { model.User = new UserModel(); }
}

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- header page -->
    @Html.Partial(IncludePath("header"))
    <style type="text/css">
        .media {
            border-bottom: 1px dashed rgb(200,200,200);
        }

            .media .media-body p {
                color: gray;
            }
    </style>
</head>

<body>
    @Html.Partial(IncludePath("body_top"))
    @Html.Partial(IncludePath("nav"))

    <div class="container" style="padding-top:30px;padding-bottom:30px;">
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <h1 style="margin:0;padding:0;">@(model.User.NickName)</h1>
                    <div style="padding:10px 0;">
                        <img src="/user/usermask/@(model.User.UserID)/" alt="" style="display:block;width:100%;height:auto;" />
                    </div>
                    <div class="well">@(model.User.Introduction)</div>
                </div>
                <div class="box">
                    <h3>个人档案</h3>
                    <table class="table table-responsive table-hover" style="margin:0;">
                        <tbody>
                            <tr>
                                <td>性别</td>
                                <td>@(model.User.Sex == "1" ? "男" : "女")</td>
                            </tr>
                            <tr>
                                <td>电话</td>
                                <td>@(model.User.Phone)</td>
                            </tr>
                            <tr>
                                <td>QQ</td>
                                <td>@(model.User.QQ)</td>
                            </tr>
                            <tr>
                                <td>邮箱</td>
                                <td>@(model.User.Email)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    没有实现
                </div>
            </div>
            <div class="col-md-3">

                @if (model.IsMe)
                {
                    @Html.Partial(IncludePath("user_menu"))
                }
                else
                {
                    <div class="box center">
                        <a href="/user/me/" target="_self">查看自己的主页</a>
                    </div>
                }

            </div>
        </div>
    </div>


    <!-- footer page -->
    @Html.Partial(IncludePath("body_bottom"))
</body>
</html>
