@using Lib.core;
@using Lib.helper;
@using Lib.http;
@using Lib.model;
@using Bll;
@using Model;
@{
    Layout = null;
}

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- header page -->
    @Html.Partial(IncludePath("header"))
</head>

<body>
    @Html.Partial(IncludePath("body_top"))
    @Html.Partial(IncludePath("manage_nav"))

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="box right">
                    <a href="@(base_url)admin/log/loglist/" class="btn btn-primary" target="_self">返回列表</a>
                </div>
                <div class="box loglist">
                    @Html.Raw(ViewData["content"])
                </div>
            </div>
        </div>

    </div>
    @Html.Partial(IncludePath("body_bottom"))
</body>
</html>
