@using Lib.core;
@using Lib.helper;
@using Lib.http;
@using Lib.helper;
@using Bll;
@using Model;
@using Model.Post;
@using Model.User;
@using Hiwjcn.Web.Models.Group;
@{
    Layout = null;

    var model = ViewData["model"] as PostViewModel;
    if (model == null) { model = new PostViewModel(); }
    if (model.Post == null) { model.Post = new PostModel(); }
    if (model.Post.UserModel == null) { model.Post.UserModel = new UserModel(); }

}
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- header page -->
    @Html.Partial(IncludePath("header"))
</head>

<body>
    @Html.Partial(IncludePath("body_top"))
    <!--导航-->
    @Html.Partial(IncludePath("hotel_nav"))

    <div class="container-fluid">
        <div class="row" style="padding-top: 20px;">

            <div class="col-md-8">

                <div class="box" style="min-height: 400px;">
                    <!--标题-->
                    <div class="center">
                        <h1 style="font-size:23px;">@(model.Post.Title)</h1>
                    </div>
                    <!--文章内容-->
                    <div id="rich_html" class="html_con">
                        @Html.Raw(model.Post.Content)
                    </div>
                </div>



            </div>

            <div class="col-md-4">

                <div class="box">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom:20px;">
                            <div class="pull-left">一共@(model.CommentsCount)个</div>
                            <div class="pull-right">
                                <a href="/comment/comment/?threadid=@(EncodingHelper.UrlEncode("post:" + model.Post.PostID))"
                                   class="btn btn-primary btn-sm layer_win" target="_blank">发布评论</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment_list" style="margin-bottom:20px;">
                        @if (ValidateHelper.IsPlumpList(model.CommentsList))
                        {
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td style="width:60%;"></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var comment in model.CommentsList)
                                    {
                                        <tr>
                                            <td>
                                                <p>@(comment.CommentContent)</p>
                                                @if (comment.ParentCommentID > 0)
                                                {
                                                    if (comment.ParentComment == null)
                                                    {
                                                        <div class="alert alert-danger">引用对象被删除</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="alert alert-danger">
                                                            @(comment.ParentComment.CommentContent)
                                                        </div>
                                                    }
                                                }
                                            </td>
                                            <td>@(DateTimeHelper.GetFriendlyDateTime(comment.UpdateTime))</td>
                                            <td>
                                                @if (comment.UserID == model.LoginUserID)
                                                {
                                                    <button class="btn btn-primary btn-sm btn-x del" data-id="@(comment.CommentID)">删除</button>
                                                }
                                                else
                                                {
                                                    <a href="/comment/comment/?threadid=@(EncodingHelper.UrlEncode("post:" + model.Post.PostID))&parentid=@(comment.CommentID)"
                                                       class="btn btn-primary btn-sm btn-x layer_win" target="_blank">回复</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="comment_pager right">@(Html.Raw(model.PagerHtml))</div>
                            <script type="text/javascript">
                                $(function () {
                                    var delbtns = $('.del');
                                    delbtns.each(function (i) {
                                        var delbtn = delbtns.eq(i);
                                        delbtn.click(function () {
                                            if (!confirm('确定删除？')) {
                                                return false;
                                            }
                                            var id = $(this).attr('data-id');
                                            postJson('/comment/deletecommentaction/', { id: id }, function (res) {
                                                if (res && res.success) {
                                                    alert('删除成功');
                                                    window.location.reload();
                                                }
                                                else {
                                                    alert(res.msg);
                                                }
                                            });
                                            return false;
                                        });
                                    });
                                });
                            </script>
                        }
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script type="text/javascript">
        $(function () {
            //设置富文本中图片宽度
            window.onload = function () {
                var rich_html = $("#rich_html");
                var imgs = rich_html.find('img');
                imgs.each(function (i) {
                    var img = imgs.eq(i);
                    if (img.width() >= rich_html.width()) {
                        img.css('width', '100%').css('height', 'auto');
                    }
                });
            };
        });
    </script>

    @Html.Partial(IncludePath("body_bottom"))
</body>
</html>
