@using Lib.core;
@using Lib.helper;

@using Bll;
@using Model;
@using Model.Sys;
@using Hiwjcn.Web.Models.Link;
@using WebLogic.Model.Tag;
@{
    Layout = null;
}

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- header page -->
    @Html.Partial(IncludePath("header"))
</head>

<body>
    @Html.Partial(IncludePath("body_top"))
    @Html.Partial(IncludePath("manage_nav"))

    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <div class="right" style="padding:20px 0;">
                    <a href="/admin/tag/tagedit/" class="btn btn-primary layer_win" target="_blank">添加</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    @{
                        var list = ViewData["list"] as List<TagModel>;
                        if (ValidateHelper.IsPlumpList(list))
                        {
                            foreach (var tag in list)
                            {
                                <a href="/admin/tag/tagedit/?id=@(tag.TagID)" class="label label-primary layer_win" target="_blank">@(tag.TagName)</a>
                            }
                        }
                        else
                        {
                            <div class="alert alert-primary">没有标签</div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>

    @Html.Partial(IncludePath("body_bottom"))
</body>
</html>
